<div>

	{{todos.query}}

	<pre ng-cloak>{{todos.activities | json | uppercase}}</pre>

	<!--
	<img ng-src="getImage()" src="placeholder.gif" />

	<a ng-href="" href=""></a>
	-->

	<input type="text" ng-model="todos.search" />
	<select ng-model="todos.order" ng-change="todos.queryUpdate()">
		<option value=""></option>
		<option value="name">Name</option>
		<option value="done">Status</option>
	</select>

	Showing {{filtered.length}} of {{todos.activities.length}}

	<ul>
		<li
			ng-repeat="activity in todos.activities | filter:todos.search | orderBy:todos.order as filtered"
			class="item {{ activity.done ? 'done' : 'undone' }}">
			
			<input type="checkbox" ng-model="activity.done">
			{{$index + 1}}. {{activity.name}}
		</li>
	</ul>

	<form ng-submit="todos.add()" name="todosform">
		<input type="text" ng-model="todos.new.name" required />
		<input type="submit" value="+" ng-disabled="todosform.$invalid" />
	</form>
</div>