<!DOCTYPE html>
<html ng-app="demo">
	<head>
		<link rel="stylesheet" type="text/css" href="bower_components/reset-css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<!-- Vendor scripts -->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>

		<!-- Cistom scripts -->
		<script type="text/javascript" src="js/scripts.js"></script>
	</head>
	<body ng-controller="MainCtrl as main">

		<ul class="tabs">
			<li class="tab">
				<a href="#/todo/work">Work</a>
			</li>
			<li class="tab">
				<a href="#/todo/leisure">Leisure</a>
			</li>
		</ul>

		<div ng-view />

		<div class="modal" ng-if="todo.window.show">
			<div class="window">
				<form name="edit" ng-submit="todo.update()">
					<input type="checkbox" ng-model="todo.window.data.done" />
					<input type="text" ng-model="todo.window.data.name" required />

					<select ng-model="todo.window.data.type" required>
						<option>Leisure</option>
						<option>Work</option>
					</select>
					
					<br/><br/>
					
					<input type="submit" value="Edit" ng-click="todo.save()" />
					<input type="button" value="Cancel" ng-click="todo.cancel()" />
				</form>
			</div>
		</div>

	</body>
</html>