<!DOCTYPE html>
<html ng-app="homework">
<head>
	<title>ngHomeWork: Vitaly Chubenko</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="Main">
    <div>
        <div class="usersloaded">
            Users Loaded: {{users.length}}
        </div>
        <table>
            <thead>
                <tr>
                    <th ng-repeat="hfield in [{fname:'name',    label:'Name'}, 
                                             {fname:'surname',  label:'Surname'},
                                             {fname:'email',    label:'Email'},
                                             {fname:'lang',     label:'Language'},
                                             {fname:'role',     label:'Role'},
                                             {fname:'created',  label:'Created'},
                                             {fname:'updated',  label:'Updated'}]"
                        ng-click="orderByMe(hfield.fname)">
                        
                        {{hfield.label}}
                        <span ng-show="myOrderBy == hfield.fname && !sortReverse">/\</span>
                        <span ng-show="myOrderBy == hfield.fname && sortReverse">\/</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy:myOrderBy:sortReverse">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.lang | langF}}</td>
                    <td>{{user.role | mroleF}}</td>
                    <td>{{user.created | date:'dd MMM yyyy HH:mm'}}</td>
                    <td>{{user.updated | date:'dd MMM yyyy HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if='showLoadMore' ng-click="loadMoreUsers()" class="loadmore">LOAD MORE</div>
        <div class="usersloaded">
            Users Loaded: {{users.length}}
        </div>
    </div>
    
</body>
</html>