<div>
	<h1>Todo</h1>

	<div class="filters">
		<input type="text" ng-model="todos.query.name" ng-change="todos.queryUpdate()" />

		<select ng-model="todos.query.type" ng-change="todos.queryUpdate()">
			<option value="">All</option>
			<option value="name">Work</option>
			<option value="done">Leisure</option>
		</select>

		<select ng-model="todos.query.done" ng-change="todos.queryUpdate()">
			<option value="">All</option>
			<option value="true">Done</option>
			<option value="false">Undone</option>
		</select>
		
		Showing {{filtered.length}} of {{todos.activities.length}}
	</div>

	<ul class="todos">
		<li ng-if="!filtered.length" class="item">No data</li>
		<li
			ng-repeat="activity in todos.activities | filter:todos.search | orderBy:todos.order as filtered"
			class="item {{ activity.done ? 'done' : 'undone' }}">
			
			<input type="checkbox" ng-model="activity.done">
			{{$index + 1}}.
			{{activity.name}}
			({{activity.type}})
		</li>
	</ul>

	<form ng-submit="todos.add()" name="todoData" novalidate>
		<div class="item">
			<label>Activity name:</label>
			<input type="text" ng-model="todos.current.name" required />	
		</div>
		
		<div class="item">
			<label>Activity type:</label>
			<select ng-model="todos.current.type" required>
				<option value=""></option>
				<option value="work">Work</option>
				<option value="leisure">Leisure</option>
			</select>
		</div>

		<input type="submit" value=" + " ng-disabled="todoData.$invalid" />
	</form>

	<dir index="1" dir2>
		<dir index="2">
			<dir index="3" dir2></dir>
		</dir>
	</dir>
	
	<dir>
		<div index="5" dir2></div>
	</dir>
</div>