<!DOCTYPE html>
<html ng-app="homework">
<head>
	<title>ngHomeWork</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="Main">
	<p>{{field}}</p>
	<p> {{ now | date:'medium' }}</p>

 <table>
	<tr>
		<!--th>
			<a href="#" ng-click="sortField = 'id'; sortReverse = !sortReverse" >ID
				<a ng-show="sortField == 'id' && !sortReverse" class="desc"/>
				<a ng-show="sortField == 'id' && sortReverse" class="asc"/>
			</a>
		</th-->

		 <th>
			 <a href="#" ng-click="sortField = 'name'; sortReverse = !sortReverse" >Name
				 <a ng-show="sortField == 'name' && !sortReverse" class="desc"/>
				 <a ng-show="sortField == 'name' && sortReverse" class="asc"/>
			 </a>
		 </th>

		 <th>
	 		<a href="#" ng-click="sortField = 'surname'; sortReverse = !sortReverse" >Surname
	 			<a ng-show="sortField == 'surname' && !sortReverse" class="desc"/>
	 			<a ng-show="sortField == 'surname' && sortReverse" class="asc"/>
	 		</a>
	 	</th>

		<th>
			<a href="#" ng-click="sortField = 'email'; sortReverse = !sortReverse" >Email
				<a ng-show="sortField == 'email' && !sortReverse" class="desc"/>
				<a ng-show="sortField == 'email' && sortReverse" class="asc"/>
			</a>
		</th>

		<th>
			<a href="#" ng-click="sortField = 'role'; sortReverse = !sortReverse" >Role
				<a ng-show="sortField == 'role' && !sortReverse" class="desc"/>
				<a ng-show="sortField == 'role' && sortReverse" class="asc"/>
			</a>
		</th>

		<th>
			<a href="#" ng-click="sortField = 'lang'; sortReverse = !sortReverse" >Lang
				<a ng-show="sortField == 'lang' && !sortReverse" class="desc"/>
				<a ng-show="sortField == 'lang' && sortReverse" class="asc"/>
			</a>
		</th>


		<th>
			<a href="#" ng-click="sortField = 'created'; sortReverse = !sortReverse" >Created
				<a ng-show="sortField == 'created' && !sortReverse" class="desc"/>
				<a ng-show="sortField == 'created' && sortReverse" class="asc"/>
			</a>
		</th>

		<th>
			<a href="#" ng-click="sortField = 'updated'; sortReverse = !sortReverse" >Updated
				<a ng-show="sortField == 'updated' && !sortReverse" class="desc"/>
				<a ng-show="sortField == 'updated' && sortReverse" class="asc"/>
			</a>
		</th>

	</tr>

	<tr ng-repeat="user in users | orderBy:sortField:sortReverse">
		<!-- td>{{user.id}}</td-->
	 <td>{{user.name}}</td>
	 <td>{{user.surname}}</td>
	 <td>{{user.email}}</td>
	 <td>{{user.role | formatRole}}</td>
	 <td>{{user.lang | formatLang }}</td>
	 <td>{{user.created | date:'dd MMM yyyy HH:mm'}}</td>
	 <td>{{user.updated | date:'dd MMM yyyy HH:mm'}}</td>
 </tr>

</table>

<input ng-if="loadMoreEnabled" ng-click="loadMore()" type="button" style="width:100%;" value="Load more...">test </input>
<!--input ng-hide="!loadMoreEnabled" ng-click="loadMore()" type="button" style="width:100%;" value="1 Load more..."/-->
<!--input ng-show="loadMoreEnabled" ng-click="loadMore()" type="button" style="width:100%;" value="2 Load more..."/-->

</div>

</body>
</html>
