<!DOCTYPE html>
<html ng-app="homework">
<head>
	<title>ngHomeWork</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
	<table>
		<tr>
			<th ng-click="sortType = 'name'; sortReverse = !sortReverse">Name<span ng-show="sortType == 'name' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="arrow-up"></span></th>
			<th ng-click="sortType = 'surname'; sortReverse = !sortReverse">Surname<span ng-show="sortType == 'surname' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'surname' && sortReverse" class="arrow-up"></span></th>
			<th ng-click="sortType = 'email'; sortReverse = !sortReverse">Email<span ng-show="sortType == 'email' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'email' && sortReverse" class="arrow-up"></span></th>
			<th ng-click="sortType = 'role'; sortReverse = !sortReverse">Role<span ng-show="sortType == 'role' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'role' && sortReverse" class="arrow-up"></span></th>
			<th ng-click="sortType = 'lang'; sortReverse = !sortReverse">Lang<span ng-show="sortType == 'lang' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'lang' && sortReverse" class="arrow-up"></span></th>
			<th ng-click="sortType = 'id'; sortReverse = !sortReverse">Id<span ng-show="sortType == 'id' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'id' && sortReverse" class="arrow-up"></span></th>
			<th ng-click="sortType = 'created'; sortReverse = !sortReverse">Created<span ng-show="sortType == 'created' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'created' && sortReverse" class="arrow-up"></span></th>
			<th ng-click="sortType = 'updated'; sortReverse = !sortReverse">Updated<span ng-show="sortType == 'updated' && !sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'updated' && sortReverse" class="arrow-up"></span></th>
		</tr>
		<tr ng-repeat="item in users | orderBy:sortType:sortReverse">
			<td>{{item.name}}</td>
			<td>{{item.surname}}</td>
			<td>{{item.email}}</td>
			<td>{{item.role}}</td>
			<td>{{item.lang}}</td>
			<td>{{item.id}}</td>
			<td>{{item.created | date:"MM/dd/yyyy 'at' h:mma"}}</td>
			<td>{{item.updated | date:"MM/dd/yyyy 'at' h:mma"}}</td>
		</tr>
	</table>
</body>
</html>
