<!DOCTYPE html>
<html ng-app="homework">
<head>
	<title>ngHomeWork</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="moment.js"></script>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="Main">
	<form ng-submit="submit($event)" novalidate class="filters">
		<label>Name:</label>
		<input type="text" ng-model="user.name" required />
		&nbsp;
		
		<label>Surname:</label>
		<input type="text" ng-model="user.surname" required />
		&nbsp;
		
		<label>Email:</label>
		<input type="text" ng-model="user.email" required />
		&nbsp;
		
		<label>Role:</label>
		<select ng-model="user.role" required>
			<option value="">select role...</option>
			<option value="SU">Superadmin</option>
			<option value="AD">Admin</option>
			<option value="AU">Author</option>
			<option value="UP">Uploader</option>
			<option value="VI">Visitor</option>
		</select>
		&nbsp;

		<label>Language:</label>
		<select ng-model="user.lang" required>
			<option value="">select language...</option>
			<option value="EN">English</option>
			<option value="DE">German</option>
			<option value="FR">French</option>
			<option value="IT">Italian</option>
		</select>
		&nbsp;

		<input type="submit" value="Reset" />
	</form>

	<table>
		<thead>
			<tr>
				<th><a href="" class="key asc">Name</a></th>
				<th><a href="">Surname</a></th>
				<th><a href="">Email</a></th>
				<th><a href="">Language</a></th>
				<th><a href="">Role</a></th>
				<th><a href="">Created</a></th>
				<th><a href="">Updated</a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.name}}</td>
				<td>{{user.surname}}</td>
				<td>{{user.email}}</td>
				<td>{{user.lang | lookup:'lang'}}</td>
				<td>{{user.role | lookup:'role'}}</td>
				<td>{{user.created | moment:'format':'DD MMM YYYY HH:mm'}}</td>
				<td>{{user.updated | moment:'format':'DD MMM YYYY HH:mm'}}</td>
			</tr>
		</tbody>
	</table>

	<input type="button" value="Load more..." class="load" />
</body>
</html>