<div>
	<h1>Todo</h1>

	<div class="filters">
		<input type="text" ng-model="query.name" ng-change="queryUpdate()" />

		<select ng-model="query.type" ng-change="queryUpdate()">
			<option value="">All</option>
			<option value="name">Work</option>
			<option value="done">Leisure</option>
		</select>

		<select ng-model="query.done" ng-change="queryUpdate()">
			<option value="">All</option>
			<option value="true">Done</option>
			<option value="false">Undone</option>
		</select>
		
		Showing {{filtered.length}} of {{activities.length}}
	</div>

	<ul class="todos">
		<li ng-if="!filtered.length" class="item">No data</li>
		<li
			ng-repeat="activity in activities | filter:search | orderBy:order as filtered"
			class="item {{ activity.done ? 'done' : 'undone' }}">
			
			<input type="checkbox" ng-model="activity.done">
			{{$index + 1}}.
			{{activity.name}}
			({{activity.type}})
		</li>
	</ul>

	<form ng-submit="add()" name="todoData" novalidate>
		<div class="item">
			<label>Activity name:</label>
			<input type="text" ng-model="current.name" required />	
		</div>
		
		<div class="item">
			<label>Activity type:</label>
			<select ng-model="current.type" required>
				<option value=""></option>
				<option value="work">Work</option>
				<option value="leisure">Leisure</option>
			</select>
		</div>

		<input type="submit" value=" + " ng-disabled="todoData.$invalid" />
	</form>

	<xt-win class="dir2" template="tpl/xt-win.html" heading="Edit" todos="activities" push="submit()"></xt-win>
</div>