<div>
	<h1>Todo</h1>

	<xt-filters
			template="tpl/xt-filters.html"
			filters="filters"
			change="updateURL()">
	</xt-filters>
	
	<p>Showing {{filtered.length}} of {{activities.length}}</p>

	<ul class="list todos">
		<li ng-if="!filtered.length" class="item">No data</li>
		<li
			ng-repeat="activity in activities | filter:{name: filters.name, type: filters.type, done: filters.done} as filtered"
			class="item {{activity.done ? 'done' : 'undone'}}">
			
			<input
				type="checkbox"
				id="list_item_{{$index}}"
				ng-model="activity.done"
				ng-change="toggle(activity)" />
			<label class="text" for="list_item_{{$index}}">
					{{$index + 1}}. {{activity.name}}  | {{activity.type}} | {{activity.date}}
			</label>

			<div class="controls">
				<input type="button" value="..." ng-click="edit(activity)" />
				<input type="button" value="X" ng-click="remove(activity)" />
			</div>
		</li>
	</ul>

	<input type="submit" value="Add new item" ng-click="add()" />
	
	<xt-win
		xt-form		
		template="tpl/xt-win.html"
		title="{{(current | length) ? 'Edit' : 'Add'}} an item"
		submit="submit()"
		cancel="cancel()"
		ng-if="dialog.show">

		<!-- External window content -->
		<form ng-submit="add()" name="todoData" novalidate>
			<div class="item">
				<label>Status:</label>
				<input
					type="checkbox"
					id="done"
					ng-model="current.done"
					ng-init="current.done = (current | length) ? current.done : false" />
				<label for="done">Done</label>
			</div>

			<div class="item">
				<label>Activity name:</label>
				<input type="text" ng-model="current.name" required />	
			</div>
			
			<div class="item">
				<label>Activity type:</label>
				<select ng-model="current.type" required>
					<option value=""></option>
					<option value="work">Work</option>
					<option value="leisure">Leisure</option>
				</select>
			</div>

			<div class="item">
				<label>Due date:</label>
				<input type="text" ng-model="current.date" xt-pikaday="DD MMM YYYY" required />	
			</div>
		</form>
		<!-- /External window content -->

	</xt-win>
</div>