<div class="filters">
	<label>Name:</label>
	<input type="text" ng-model="filters.name" ng-change="change()" ng-model-options="{updateOn: 'change'}" />

	<label>Type:</label>
	<select ng-model="filters.type" ng-change="change()">
		<option value="">All</option>
		<option value="work">Work</option>
		<option value="leisure">Leisure</option>
	</select>

	<label>Status:</label>
	<select ng-model="filters.done" ng-change="change()">
		<option value="">All</option>
		<option value="true">Done</option>
		<option value="false">Undone</option>
	</select>
	
	<label>Due date:</label>
	<input
		type="text"
		placeholder="from"
		ng-model="filters.from"
		ng-change="change()"
		ng-model-options="{updateOn: 'change'}"
		xt-pikaday="DD.MMM.YYYY"/>
	<input
		type="text"
		placeholder="to"
		ng-model="filters.to"
		ng-change="change()"
		ng-model-options="{updateOn: 'change'}"
		xt-pikaday="DD.MMM.YYYY"/>

	<input type="button" value="X" ng-click="clear()" />
</div>